.NavigationBar{
  align-items: center;
  & > .logo {
    margin-right: 12px;
    font-size: 18px;
    font-weight: 700;
  }
  &__avatar{
    margin-right: 12px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-left: auto;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  }
}